#mainTopic{
    color:blue;
}
*{
    text-align:center;
}
.myClass{
    font-family:Georgia;
}
.para{
    color:white;
    background-color:cornflowerblue;
}
div>button{
    color:azure;
    background-color:purple;
}