h3::first-letter{
    font-weight:900;
    color:maroon;
}
h1::first-letter{
    color:black;
    font-weight:900;
}
div:nth-of-type(7)>p::first-line{
    color:yellow;
}
p:selection{
    color:red;
}
a{
    text-decoration: none;
}