.container{
    width: 600px;
    height: 300px;
    border: 1px solid black;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    row-gap:5px;
    column-gap: 5px;
    /*justify-items: center;*/ /*this will place all items of that container in center horizantally*/
    /*align-items:end ; */ /*this will place all items of that container at the bottom(end) of their cell vertically.*/
    place-items: center;/*this will make all the items of container to be placed in center vertically and hirizentally*/
}
/* Some other properties of grid model are these
1-justfiy-items(container) & 2-justify-self(item)
    ->Both of these properties work in horizental direction. Justify-items is used on container and justify-self is used for individual items of container.Both of these have properties like start,end and center.For aligning whole content or single items horizentally    
3-align-items(Container) & 4-align-self(item)
    ->Both of these properties work in vertical direction. align-items is used on container and align-self is used for individual items of container.Both of these have properties like start,end and center.For aligning whole content or single items vertically 
5-place-items(container) & 6-place self(item)
    ->Both of these properties work in both directions verticaly and horizentaly.
     These two have properties  of end,start and center.If we give an of these properties then it will effect in both directions vertically and horizentally*/

.container div{
    width: 80px;
    height: 60px;
    border: 1px solid aqua;
    background-color: green;
}
.container #fifth{
    /*align-self:center;*/ /*it will make only fifth elemnt in the center vertically*/
    /*justify-self: start;*/ /*it will make it in start(left) horizantally*/
    place-self: end;/*it will make fifth item to be place at end vertically and horizentally*/
}
.container #ninth{
    /*justify-self: end;*/ /*it willl make element on left(end) side in horizental direction*/
    place-self: start;/*it will make ninth item to be place at start vertically and horizentally*/

}
