div{
    height: 200px;
    width:500px;
    background-color: brown;
    /* border-width: 5px;
    border-style: groove;
    border-color: black;
    border-left-color:blue;
    border-left-style:dotted;
    border-radius:15px; */
    border:5px solid black;
    border-top-right-radius: 10px;
    margin: 30px;

}
h1{
    /* border-color: orange;
    border-width:3px;
    border-style: dotted;
    border-top-width:15px;
    border-bottom-right-radius:20px; */
    border:2px dashed green;
}
button{
    /* shorthand method */
    /* border:3px solid orange;
    border-radius:10px 100px / 120px; */
    padding: 2px 5px 10px 7px;
    margin-left:10px;
    margin-bottom: 10px;
    background-color:orange;
    padding-top:10px
}
